$corFundo: #6f4e37; /* Variï¿½vel */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu {
  background-color: $corFundo;
  li {
    /* SASS permite regras aninhadas */
    display: inline;
    a {
      text-decoration: none;
    }
  }
}
.grade {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div {
    width: 90%;
  }
  div.lateral {
    width: 5%;
    height: 100vh;
  }
}
