div .container {
  background-color: #fff8dc;
  display: grid;
  grid-template-columns: 2fr;
}

div .form-group {
  background-color: rgba(94, 61, 29, 0.467);
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

input {
  border: none;
  background-color: #fffefb;
  border-radius: 3px;
  padding: 4px 6px;
}
