html {
  background-color: #fff8dc;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    input[type="submit"] {
      margin-top: 10px;
      color: white;
      background-color: #007bff;
    }
  }
  dl {
    display: flex;
    flex-direction: column;
    dt {
      margin: 5px 0;
    }
    dd {
      margin: 0 0 10px 20px;
    }
    button[title="Confirmar"] {
      margin-top: 10px;
      color: white;
      background-color: red;
    }
  }
  table {
    border-collapse: collapse;
    th,
    td {
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
  }
  a {
    margin: 5px;
  }
}
h1 {
  text-align: center;
  margin: 20px;
}
